@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body {
  height:100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: gray;
}

.App {
  display: flex;
  text-align: center;
}

.header {
  height: 180px;
  background-color: #9FB5A3;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerTitle{
  padding:.5em;
  font-family: 'Pacifico', cursive;
  /* background-color: #282c34; */
  color: white;
  letter-spacing: 2.5px;
  font-size: 4.5em;
}

/* .login {
  margin-top: 5em;
  margin-right: 2em;
} */

Button {
  border: none;
  color: gray;
  width: 150px;
}

.content {
  padding: 3em;
}

.footer {
  padding-left: 30px;
  background-color: #9FB5A3;
}