@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body {
  height:100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(62, 62, 62);
}

.App {
  display: flex;
  text-align: center;
  
}

.header {
  height: 180px;
  background-image: linear-gradient(to top, #25aae1,  #8b20e3);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerTitle{
  padding:.5em;
  font-family: 'Pacifico', cursive;
  /* background-color: #282c34; */
  color: white;
  letter-spacing: 2.5px;
  font-size: 5.5em;
}

/* .login {
  margin-top: 5em;
  margin-right: 2em;
} */

Button {
  border: none;
  background-color: white;
  color: rgb(62, 62, 62);
  width: 150px;
  border-radius: 50px;
}

.menuItem {
  border: none;
  color: white;
  background-color: white;
}

.contentButton {
  width: 200px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
  color: #fff;
  cursor: pointer;
  margin: 1rem !important;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border-radius: 50px !important;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contentButton:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contentButton:focus {
  outline: none;
}

.contentButton:hover {
  color: white;
  transition: all .4s ease-in-out;
}

#annotateButton {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(62, 62, 62) !important;
  font-size: 1.2rem;
  width: 15rem;
  transition: 0.5s;
  margin: .1rem !important;
  font-weight: 525;
}

.annotateButton:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.214) !important;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}


.card {
width: 100%;
border: 1px solid #ddd;
border-radius: 5px;

}

.cardHeader {
background-size: 850px;
background-color: white;
/* background-image: linear-gradient(to bottom,  rgb(27, 27, 27), #4e4e4e); */
}

.cardBody {
  
}

.cardText {

}

#modalId {
  border: none;
  color: gray;

} 

.content {
  padding: 3em;
}

.footer {
  padding-left: 30px;
  background-image: linear-gradient(to left, #30dd8a, #c7e5ce 50%);
}
