@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body {
  height:100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: gray;
}

.App {
  display: flex;
  text-align: center;
}

.header {
  height: 180px;
  background-image: linear-gradient(to right, #9FB5A3 25%, #c7e5ce 100%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerTitle{
  padding:.5em;
  font-family: 'Pacifico', cursive;
  /* background-color: #282c34; */
  color: white;
  letter-spacing: 2.5px;
  font-size: 4.5em;
}

/* .login {
  margin-top: 5em;
  margin-right: 2em;
} */

Button {
  border: none;
  color: gray;
  width: 150px;
  border-radius: 6px;
}

.menuItem {
  border: none;
  color: white;
  background-color: gray;
}

#contentButton {
  border: none;
  color: white;
  font-size: 1.1rem;
  background-image: linear-gradient(to right, #c7e5ce 0%, #e9ffeb 100%);
  background-color: gray;
  width: 15rem;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  margin: 1rem;
  height: 3rem;
  border-radius: 6px;
  box-shadow: 5px 5px
  rgba(0, 0, 0, 0.1);
}

.contentButton:hover {
  background-position: right center;
}

#saveButton:hover {
    background-position: right center;
}

#addNoteButton {
  border: none;
  color: white;
  font-size: 1.1rem;
  background-image: linear-gradient(to right, #c7e5ce 0%, #e9ffeb 100%);
  width: 15rem;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  height: 3rem;
  border-radius: 6px;
  box-shadow: 5px 5px
  rgba(0, 0, 0, 0.1);
}

#addNoteButton:hover {
  background-position: right center;
}

#modalId {
  border: none;
  color: gray;

} 

#modalButton {
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #c7e5ce 0%, #e9ffeb 100%);
  width: 15rem;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  border-radius: 6px;
  box-shadow: 5px 5px
  rgba(0, 0, 0, 0.1);
}

.content {
  padding: 3em;
}

.footer {
  padding-left: 30px;
  background-color: #9FB5A3;
}